/* app/globals.css */
body {
  background-color: #000;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input::placeholder, 
textarea::placeholder {
  color: #bbbbbb !important; /* Világos szürke placeholder szöveg */
  opacity: 1; 
}

input, textarea, select {
  font-size: 16px !important; /* iPhone zoom megelőzése */
}
